asgiref==3.8.1
boto3==1.42.14
botocore==1.42.14
certifi==2025.6.15
cffi==2.0.0
charset-normalizer==3.4.2
cloudinary==1.44.1
colorama==0.4.6
crispy-bootstrap4==2025.6
cryptography==46.0.3
django==5.2.3
django-allauth==65.13.0
django-cloudinary-storage==0.3.0
django-cors-headers==4.7.0
django-crispy-forms==2.4
django-environ==0.12.0
django-extensions==4.1
django-filter==25.2
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
drf-nested-routers==0.95.0
drf-yasg==1.21.11
et_xmlfile==2.0.0
gunicorn==23.0.0
idna==3.10
inflection==0.5.1
jmespath==1.0.1
lxml==6.0.2
mysqlclient==2.2.7
numpy==1.26.4
openpyxl==3.1.5
packaging==25.0
pandas==2.2.3
pillow==12.0.0
pycparser==2.23
PyJWT==2.9.0
PyPDF2==3.0.1
python-dateutil==2.9.0.post0
python-decouple==3.8
python-docx==1.2.0
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.3
qrcode==8.2
razorpay==2.0.0
requests==2.32.4
s3transfer==0.16.0
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
nltk==3.9.1
uritemplate==4.2.0
urllib3==2.5.0
gunicorn
pymysql
whitenoise

